@import 'tailwindcss';
@import './fonts.css';

@theme {
  --color-primary: #7209B7;
  --color-primary-50: rgba(114, 9, 183, 0.5);

  --color-black-100: #353535;
  --color-black-75: #676767;
  --color-black-50: #9b9b9b;
  --color-black-25: #cdcdcd;

  --color-white-98: #fafafa;
  --color-white-97: #f7f7f8;

  --color-red: #CB0000;
  --color-red-50: #CF0000;

  --color-blue: #0055FF;

  --color-light-green: #00DA16;
}

  @utility typography-button {
    font-weight: 600;
    font-size: 15px;
    line-height: 22.5px;
    letter-spacing: 0.5px;
  }

  @utility typography-display {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
  }

  @utility typography-body-bold {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
  }

  @utility typography-body-medium {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  @utility icon {
    color: inherit;
    width: inherit;
    height: inherit;
  }

  @utility focus-outline {
    @apply focus:outline-4 focus:outline-primary-50;
  }

body {
  font-family: Poppins, sans-serif;
  color: var(--color-black-100);
}

textarea {
  resize: none;
  outline: none;
  border: none;
  background: transparent;
}
